.loading {
    background: linear-gradient(to bottom, #683B73CC, #B45A86CC, #D26A75CC);
    position: relative;
    box-sizing: border-box;
    margin: 0;
    height: 100vh;
    padding: 13% 10% 0px 10%;
    z-index: 0;
    overflow: hidden;
}
.loading .loading__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}
.loading .loading__text {
    font-size: 1.8rem;
    font-weight: 500;
    text-align: center;
    line-height: 2.3rem;
    margin-top: 13%;
}
.loading .loading__img {
    position: absolute;
    width: 15%;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.loading .loading__img:active {
    bottom: 6%;
    outline: none;
    -webkit-tap-highlight-color : transparent;
}
.loading .loading__img:hover {
    bottom: 6%;
    outline: none;
    -webkit-tap-highlight-color : transparent;
}
@media screen and (min-height: 700px) {
    .loading .loading__img {
        bottom: 15%;
    }
    .loading .loading__img:active {
        bottom: 16%;
    }
    .loading .loading__img:hover {
        bottom: 16%;
    } 
}
@media screen and (min-height: 800px) {
    .loading .loading__img {
        bottom: 25%;
    }
    .loading .loading__img:active {
        bottom: 26%;
    }
    .loading .loading__img:hover {
        bottom: 26%;
    } 
}