.quiz {
    position: relative;
    box-sizing: border-box;
    margin: 0;
    height: 100vh;
    z-index: 0;
    overflow: hidden;
}

.quiz .quiz__card {
    background: #ffffff50;
    border: none;
    border-radius: 38px;
    width: 80%;
    height: 0;
    padding-bottom: 120%;
    margin: 13% 10% 0px 10%;
    box-shadow: 0px 3px 28px 0 rgba(65, 65, 65, 0.3);
    position: relative;
}

.quiz .quiz__bg {
    position: absolute;
    width: 100%;
    z-index: -1;
}

.quiz #top {
    top: 0;
    left: 0;
}
.quiz #bottom {
    bottom: 0;
    left: 0;
}

.quiz__card .quiz__img {
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
}
.quiz__card .quiz__text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: pre-wrap;
    width: 100%;
    font-size: 1.8rem;
    line-height: 2.3rem;
    font-weight: 500;
    color: #000000;
    text-align: center;
}
.quiz__card .quiz__answer1, .quiz__answer2, .quiz__answer3 {
    border-radius: 38px;
    width: 76%;
    height: auto;
    background-color: #59375d;
    color: white;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 02.0rem;
    text-decoration: unset;
    text-align: center;
    box-shadow: 2px 3px 15px 0  rgba(65, 65, 65, 0.3);
    box-sizing: border-box;
    white-space: pre-wrap;
    display: table;
}
.quiz__card .quiz__answer1:active, .quiz__answer2:active, .quiz__answer3:active {
    box-shadow: inset 0 0 3px rgba(133, 116, 113, 0.4);
    outline: none;
    -webkit-tap-highlight-color : transparent;
}
.quiz .quiz__answer1 {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.quiz .quiz__answer2 {
    position: absolute;
    top: 74%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.quiz .quiz__answer3 {
    position: absolute;
    top: 88%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: collapse;
}
.quiz .quiz__progress {
    position: fixed;
    bottom: 0;
    width: 100%;
}
.quiz__answer1 div, .quiz__answer2 div, .quiz__answer3 div {
    display: table-cell;
    vertical-align: middle;
}
@media screen and (min-width: 500px) {
    .quiz .quiz__card {
        padding-bottom: 95%;
        margin: 10% 10% 0px 10%;
    }
    .quiz .quiz__progress {
        width: 500px;
    }
}