.quiz {
    position: relative;
    box-sizing: border-box;
    margin: 0;
    height: 100vh;
    z-index: 0;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.quiz .quiz__card {
    background: #ffffff50;
    border: none;
    border-radius: 38px;
    width: 80%;
    height: auto;
    margin-top: 20%;
    box-shadow: 0px 3px 28px 0 rgba(65, 65, 65, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quiz .quiz__bg {
    position: absolute;
    width: 100%;
    z-index: -1;
}

.quiz #top {
    top: 0;
    left: 0;
}
.quiz #bottom {
    bottom: 0;
    left: 0;
}

.quiz__card .quiz__img {
    width: 57%;
    margin-top: 18%;
}
.quiz__card .quiz__text {
    white-space: pre-wrap;
    width: 100%;
    font-size: 1.8rem;
    line-height: 2rem;
    font-weight: 500;
    color: #000000;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 5%;
}
.quiz__card .quiz__answer1, .quiz__answer2, .quiz__answer3 {
    border-radius: 38px;
    width: 76%;
    height: 55px;
    color: white;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.7rem;
    text-decoration: unset;
    text-align: center;
    box-shadow: 2px 3px 15px 0  rgba(65, 65, 65, 0.3);
    white-space: pre-wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4%;
    padding: 0 3%;
}
.quiz__card .quiz__answer1:active, .quiz__answer2:active, .quiz__answer3:active {
    box-shadow: inset 0 0 3px rgba(133, 116, 113, 0.4);
    outline: none;
    -webkit-tap-highlight-color : transparent;
}
.quiz .quiz__answer3 {
    visibility: collapse;
    margin-bottom: 10%;
}
.quiz .quiz__progress {
    position: fixed;
    bottom: 0;
    width: 100%;
}
@media screen and (min-width: 500px) {
    .quiz .quiz__card {
        margin-top: 5%;
    }
    .quiz__card .quiz__img {
        margin-top: 10%;
        width: 40%;
    }
    .quiz__card .quiz__text {
        margin-bottom: 3%;
    }
    .quiz .quiz__answer3 {
        margin-bottom: 5%;
    }
    .quiz .quiz__progress {
        width: 500px;
    }
}