.result{
    background: linear-gradient(to bottom, #D88089CC, #FFC586CC);
    position: relative;
    box-sizing: border-box;
    margin: 0;
    height: 100vh;
    z-index: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.result .result__bg {
    position: absolute;
    width: 100%;
    z-index: -1;
}
.result #top {
    top: 0;
    left: 0;
}
.result #bottom {
    bottom: 0;
    left: 0;
}
.result .result__text {
    font-size: 1.8rem;
    font-weight: 500;
    text-align: center;
    margin-top: 30%;
    margin-left: 3%;
    line-height: 2.1rem;
}
.result__text p {
    margin: 0;
}
.result .result__progress {
    position: fixed;
    bottom: 0;
    width: 100%;
}
.result__finish {
    background: linear-gradient(to bottom, #D88089CC, #FFC586CC);
    box-sizing: border-box;
    margin: 0;
    padding-bottom: 24px;
}
.result__finish .result__header {
    background-color: white;
    display: flex;
    width: 100%;
    height: 6rem;
    box-shadow: 0 2px 6px -3px rgba(128, 88, 82, 0.8);
    align-items: center;
    justify-content: center;
}
.result__header img{
    width: 30%;
}
.result__finish .classes_title {
    margin: 24px 0 16px 45px;
}
.classes_title #title {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 0;
}
.classes_title #subtitle {
    font-size: 1.6rem;
    font-weight: 500;
    color: #767676;
    margin-top: 0;
}
.result__finish .result__classes {
    display: flex;
    height: auto;
    flex-wrap: nowrap;
    overflow-x: scroll;
    margin-left: 45px;
    position: relative;
}
.result__classes::-webkit-scrollbar {
    height: 0;
}
.result__classes img {
    display: none;
}
.result__finish .result__replay {
    display: flex;
    width: fit-content;
    margin: 0 auto;
}
.result__finish .result__replay:hover {
    cursor: pointer;
}
.result__replay span {
    font-size: 1.8rem;
    font-weight: 500;
}
@media screen and (min-width: 500px) {
    .result .result__text {
        margin-top:10%;
    }
    .result .result__progress {
        width: 500px;
    }
    .result__classes img {
        display: block;
        width: 30px;
        position: absolute;
        top: 50%;
        left: 50%;
    }
}