.feedback {
    margin: 24px 16px;
    background: #ffffffCC;
    height: auto;
    border-radius: 30px;
    padding-bottom: 0.1px;
}
.feedback .feedback__header {
    display: flex;
    align-items: center;
    background: white;
    width: 100%;
    height: 7rem;
    border-radius: 30px 30px 0 0;
    box-shadow: 0 2px 6px -3px rgba(128, 88, 82, 0.8);
}
.feedback__header a#img {
    width: 11%;
    margin-left: 6%;
    margin-top: 3px;
}
.feedback__header a#img:active {
    -webkit-tap-highlight-color: transparent;
}
.feedback__header .coala__profile {
    width: 90%;
    margin: 1px;
}
.feedback__header a#text {
    font-size: 1.8rem;
    font-weight: 500;
    color: #1e1e1e;
    flex-grow: 0.8;
    text-decoration: none;
    -webkit-tap-highlight-color : transparent;
    margin-left: 2%;
}
.feedback__header .paper__plane {
    width: 7%;
    margin-left: 5rem;
}
.feedback__header .paper__plane:hover {
    cursor: pointer;
}
.feedback__header .paper__plane:hover:active {
    -webkit-tap-highlight-color: transparent;
}
.feedback #chat {
    background: #e7e7e7;
    display: flex;
    color: #1e1e1e;
    font-size: 1.6rem;
    font-weight: 500;
    border-radius: 22px;
}
.feedback .chat__insta{
    width: 70%;
    margin-top: 20px;
    margin-left: 13%;
}
.chat__insta p {
    margin: 10px;
}
.feedback .chat__plane {
    width: fit-content;
    margin-top: 10px;
    margin-left: 13%;
    align-items: center;
}
.chat__plane img {
    margin-left: 10px;
    margin-right: 3px;
    width: 15px;
}
.chat__plane p {
    margin-right: 10px;
}
.feedback .chat__container {
    display: flex;
    flex-direction: column;
}
.chat__container .chat__container__star {
    display: flex;
}
.chat__container__star .chat__star {
    width: 60%;
    margin-top: 10px;
    margin-left: 2%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.chat__container img {
    width: 9%;
    margin-left: 2%;
    align-self: flex-end;
}
.chat__star p {
    margin: 12px 0 0 0;
}
.chat__star .review__stars {
    display: flex;
    margin: 10px 0 14px 0;
}
.review__stars input + label { 
    display: inline-block;
    cursor: pointer;
    background: url('../img/star_off.svg')no-repeat; 
}
.review__stars input:checked + label {
    background: url('../img/star_on.svg')no-repeat;
    -webkit-tap-highlight-color : transparent;
}
.review__stars label:active {
    -webkit-tap-highlight-color : transparent;
}    
.review__stars input {
    display: none;
}
.review__stars label {
    width: 3.6rem;
    height: 3.4rem;
}
.chat__container .chat__score {
    display: flex;
    flex-direction: row;
}
.chat__score .no__score{
    margin-top: 10px;
    margin-left: 11px;
}
.no__score p {
    margin: 14px 10px;
}
.chat__container .chat__success {
    display: flex;
    flex-direction: row;
}
.chat__success .feedback__success{
    margin-top: 10px;
    margin-left: 11px;
}
.feedback__success p {
    margin: 14px 10px;
}
.feedback .feedback__input {
    border: 1px solid rgba(112, 112, 112, 0.64);
    border-radius: 23px;
    background: white;
    margin: 28px auto;
    width: 92%;
    height: auto;
    display: flex;
    justify-self: center;
    align-items: center;
}
.feedback__input .input__text {
    border: none;
    background: transparent;
    resize: none;
    font-size: 14pt;
    width: 73%;
    margin-left: 5%;
    font-family: '777Balsamtint', "Noto Sans KR", sans-serif;
    overflow: hidden;
}
.feedback__input .input__text:focus {
    outline: none;
}
.feedback__input button {
    background: transparent;
    border: none;
    border-radius: 38px;
    width: fit-content;
    font-size: 1.6rem;
    color: #4e6edc;
    font-weight: 600;
    margin: 3% 2%;
    padding: 0;
}
.feedback__input button:active {
    background-color: #cccccc;
    color: white;
    -webkit-tap-highlight-color: none;
}
.feedback__input button:focus {
    outline: none;
}
.feedback__input button:hover {
    cursor: pointer;
}