.info {
    width: 100%;
    position: relative;
}
.info .info__bg {
    width: 100%;
    opacity: 0.4;
}
.info .info__img {
    position: absolute;
    top: 0;
    left: 50.3%;
    transform: translate(-50%, 24%);
    width: 30%;
}
.info .info__text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    font-size: 1.8rem;
    font-weight: 600;
    color: #000000;
}
.info .info__name {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 11%;
    border-radius: 38px;
    border: solid #59375D;
    font-size: 1.6rem;
    background-color: #00000000;
    text-align: center;
}
.info .info__name:focus {
    outline: none;
}
.info .info__name::placeholder {
    color: #DD283C;
}
.info .info__male, .info__female {
    border-radius: 38px;
    width: 38%;
    height: 11%;
    background-color: #59375d;
    border: solid #59375D;
    color: white;
    font-weight: 500;
    font-size: 1.8rem;
    text-decoration: unset;
    text-align: center;
    box-shadow: 2px 2px 6px 0 rgba(128, 88, 82, 0.8);
    box-sizing: border-box;
}

.info .info__male:active, .info__female:active {
    box-shadow: inset 0 0 3px rgba(128, 88, 82, 0.8);
    outline: none;
    -webkit-tap-highlight-color : transparent;
}

.info .info__male {
    position: absolute;
    top: 73%;
    left: 28%;
    transform: translate(-50%, -50%);
}

.info .info__female {
    position: absolute;
    top: 73%;
    left: 72%;
    transform: translate(-50%, -50%);
}

.info__male p, .info__female p {
    position: absolute;
    top: 19%;
    left: 50%;
    transform: translate(-50%, -50%);
}