.info {
    width: 100%;
    margin: 27% 10% 20% 10%;
}
.info .info__card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: #ffffff50;
    border: none;
    border-radius: 30px;
    width: 100%;
}
.info .info__img {
    margin-top: 17%;
    width: 80px;
}
.info .info__text {
    margin-top: 7%;
    white-space: nowrap;
    font-size: 1.7rem;
    font-weight: 500;
    color: #000000;
}
.info .info__name {
    margin-top: 7%;
    width: 65%;
    height: 2.6rem;
    border-radius: 38px;
    border: 0.18em solid #ffffff;
    font-size: 1.6rem;
    background-color: #00000000;
    text-align: center;
    font-family: '777Balsamtint', "Noto Sans KR", sans-serif;
}
.info .info__name:focus {
    outline: none;
}
.info .info__name::placeholder {
    color: rgb(221, 40, 60, 0.9);
}
.info .sex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 3.9rem;
    margin-top: 9%;
    margin-bottom: 20%;
}
.sex .info__male, .info__female {    
    width: 32%;
    border-radius: 38px;
    background-color: rgba(255, 255, 255, 0.6);
    border: 0.2em solid rgb(191, 74, 79, 0.6);
    color: black;
    font-weight: 500;
    font-size: 1.6rem;
    text-decoration: unset;
    box-shadow: 0px 3px 10px 0 rgba(128, 88, 82, 0.4);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sex .info__male {
    margin-right: 5%;
}
.sex .info__male:active, .info__female:active {
    box-shadow: inset 0 0 3px rgba(128, 88, 82, 0.8);
    outline: none;
    -webkit-tap-highlight-color : transparent;
}
@media screen and (min-width: 600px) {
    .info {
        width: 100%;
        margin: 10% 15% 0 15%;
    }
}