#share__button {
    width: 11%;
    height: 100%;
    margin-left: 3.5%;
    margin-right: 3.5%;
    background-color: transparent;
    border: none;
    padding: 0px;
    font: inherit;
    color: inherit;
    cursor: pointer;
}
#share__button:hover {
    cursor: pointer;
}
#share__button:active {
    -webkit-tap-highlight-color: transparent;
}
#share__button:focus {
    outline: none;
}
#share {
    width: 100%;
}