@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

html {
    font-size: 62.5%;
}
body {
    margin: 0 auto;
    width: 100%;
    max-width: 500px;
    font-family: 'NotoSans KR';
}
@media screen and (min-width: 300px) and (max-width: 599px) {
     html { 
         font-size: 43%; 
    } 
}